

<section class="timeline">
    <ul>
      <li>
        <div>
          <time>2016 – present </time> 
          <time>Sr. Engineering Manager - Prudential Financial </time>
          • Co-created and delivered on Prudential’s digital presence for Prudential’s US businesses.<br>
          • Created an environment that promoted employee professional growth by setting up processes for assessment and improvement through regular 360 reviews.<br>
          • Migrated Prudential Infrastructure from on-prem to AWS (IaaS) using docker containers to deploy services to AWS.<br>
          • Architected code libraries to standardize common business logic and minimize code duplication.<br>
        </div>
      </li>
      <li>
        <div>
          <time>2015– 2016 </time> 
          <time>Sr. Software Systems Engineer - Great West Financial </time>
          • Migrated the legacy site to next-gen stack using latest UI and server-side technologies. <br>
          • Enforced Test Driven Development for both AngularJS based UI application and Java Spring MVC RESTful api application.<br>
          • Created customized site using CMS for the application to have a personalized experience to more than 80 clients for GWF including Apple, Southwest and Visa.
        </div>
      </li>
      <li>
        <div>
          <time>2014 – 2015 </time> 
          <time>Java Software Developer - Apple </time>
          • Developed RESTful Api’s using Java and Spring MVC framework.<br>
          • Designed various modules using SOA and J2EE stack.
        </div>
      </li>
      <li>
        <div>
          <time>2010 – 2013 </time> 
          <time>Emtech Foundation and DPRC </time>
          • Worked on software development, bug fixing and code reviews.<br>
          • Wrote complex SQL queries and worked on indexing the database.
        </div>
      </li>
      
    </ul>
  </section>