<div id="about" class="header">
    <h1>About Me</h1>
    <p>Welcome to my Blog.  It reflects a few of my eclectic interests..</p>
  </div>

<div class="content">
    
   <h1> Background </h1>

   <p> I am a Hands-on Technical leader with 10 years of finance and tech industry experience. I have my Masters in Computer Science from San Francisco State University.   I have always been curious about nature and science – whether social or natural sciences.  Data analytics is to me a natural extension of this curiosity.  We can now train computer models to help us understand things like never before.  And so extending the science fiction metaphor, big data and predictive analytics become an extension of our human understanding of the world around us in ways we could have only imagined a few years ago.</p>
    
   <h1>SDLC and CREATIVITY</h1>
    
    <p>Yes it sounds like an oxymoron.  Controlled creativity?  The way I see it, SDLC done the right way, is the manner by which you harness the creative talent of a team.  According to a recent Scientific American ‘Genius Issue‘, there is a method to the madness of most geniuses.  When done right, SDLC can be the method that taps into the ‘mad genius’ of a talented team. </p>
    
    <h1> TRAVELOGUE </h1>
    
    <p>Ever since spending a year in India to help setup a development shop, my wife and I have loved to travel.  We’ve been between us to over 50 countries, including a mostly Southern Hemisphere odyssey.  To us, experiencing the awe inspiring variety of our planet is one of our life’s passions. </p>


</div>