<!-- <div class="center">
    <img src="../../assets/images/IMG_5627.jpg" />
    <img src="../../assets/images/baby.jpg" />
    <img src="../../assets/images/baby2.jpg" />
    <img src="../../assets/images/IMG_6499.JPG" />
    <img src="../../assets/images/adi_richu_marriage.jpg" />
    <img src="../../assets/images/IMG_6489.PNG" />
</div> -->


<div class="row">
    <div class="column">
        <img src="../../assets/images/ahana_fb.jpg" alt="Snow" style="width:100%">
      </div>
    <!-- <div class="column">
      <img src="../../assets/images/IMG_5627.jpg" alt="Snow" style="width:100%">
    </div> -->
    <div class="column">
      <img src="../../assets/images/richu_fb.jpg" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/images/baby2.jpg" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img src="../../assets/images/IMG_6499.JPG" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="../../assets/images/adi_richu_marriage.jpg" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="../../assets/images/IMG_6489.PNG" alt="Mountains" style="width:100%">
      </div>
      <div class="column">
        <img src="../../assets/images/christmas_fb.jpg" alt="Mountains" style="width:100%">
      </div>
      <div class="column">
        <img src="../../assets/images/sf_fb.jpg" alt="Mountains" style="width:100%">
      </div>
  </div>



