<div class="view intro jarallax responsive">
    <div class="centeredsmall">Hi, I'm</div><br>
    <div class="centered">- Aditya Sethi -</div>
  </div>
  
  
  
  <div id="timeline" class="view intro jarallax">
       <app-timeline-component></app-timeline-component>
  
       <div class="full-bg-img mask rgba-purple-slight">
      <!-- <div class="container">
        <app-article-component></app-article-component>
  
      </div> -->
    </div>
  </div>
  
  <div class="view intro jarallax"
       style="background-image: url(../assets/images/newyork.jpg); background-attachment: fixed; background-size: cover; min-height: 500px">
    <div class="full-bg-img mask rgba-pink-slight">
    </div>
  </div>
  
  <div id="timeline" class="view intro jarallax">
    <div class="full-bg-img mask rgba-purple-slight">
   <div class="container">
     <app-article-component></app-article-component>
  
   </div>
  </div>
  </div>
  
  <div class="container">
    <!--Grid row--> 
    <div class="row">
      <!--Grid column-->
  
      <!--Grid column-->
    </div>
    <div>
      <app-contact-me></app-contact-me>
    </div>
    <!--Grid row-->
  </div>